.container {
    background-image: url('/public/banner-img-1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
   width: full;
    background-repeat: no-repeat;
  padding: 40;
  color: white;
  margin: auto;
  border-radius: 10%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }